@CHARSET "UTF8";

@media print {
	nav {
		display: none;
	}	
}

html {
	font-family: Arial;
}

body>nav>ul>ul {
	display: none;
}

body>nav>ul>li {
	display: inline;
}

article {
	margin: 0px -10px 0px -10px;
	padding: 40px;
}

article:nth-child(even) {
	background: #e0e0e0;
}

article:nth-child(odd) {
	background: #FFF;
}

input:invalid {
	background-color: #f0d0d0;
}
input {
	display: block;
	margin-bottom: 20px;
}

.grid {
	display: inline-block;
}
